@charset "UTF-8";
/* CSS Document */

body {
    background-image: url(../images/images/cascade_mountains-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
    padding:0px;
    color: #344e5f;
}

header, section, aside, article, footer, figure {
    display: block;
}

